<header class="site-header">
    <div id="header-wrap">
        <div class="container">
            <div class="row">
                <!--menu start-->
                <div class="col">
                    <nav class="navbar navbar-expand-lg py-4">
                        <a class="navbar-brand logo" href="index.html">
                            <img src="assets/images/logo.png" alt="GSC Agency" />
                            <span>GSC</span>
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav px-10">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle">Services</a>
                                    <ul class="dropdown-menu" style="display: none;">
                                        <li>
                                            <a class="dropdown-item" href="prices.html">Pricing</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="site-work.html">Site work</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="sale-support.html">Sales support</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="business-customer.html">Business customer</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle">Partners</a>
                                    <ul class="dropdown-menu" style="display: none;">
                                        <li>
                                            <a class="dropdown-item" href="suppliers.html">Suppliers</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="sub-brokers.html">Sub Broker</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="join-us.html">Join Us</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle">Help Centre</a>
                                    <ul class="dropdown-menu" style="display: none;">
                                        <li>
                                            <a class="dropdown-item" href="energy-contracts.html">FAQ (energy contracts)</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="commission.html">FAQ (commission)</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="complaint.html">Complaint</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle">About</a>
                                    <ul class="dropdown-menu" style="display: none;">
                                        <li>
                                            <a class="dropdown-item" href="aboutus.html">Who we are</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="contactus.html">Contact</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="careers.html">Career</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="blog.html">Blogs</a>
                                </li>
                            </ul>
                        </div>
                        <div class="d-flex align-items-center hidden-xs">
                            <a class="login-btn btn-link" href="https://portal.towerutility.co.uk">
                                Broker Login
                            </a>
                        </div>
                    </nav>
                </div>
                <!--menu end-->
            </div>
        </div>
    </div>
</header>