<footer class="py-11 position-relative overflow-hidden section-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-4 pe-lg-7 footer-info">
                <a class="footer-logo" href="index.html">
                    <img class="img-fluid" src="assets/images/logo.png" alt="">
                </a>
                <p class="my-4">Bringing power to you business. Join our growing network of brokers. One of our team wil be touch.</p>
                <div class="d-flex icon">
                    <i class="bi bi-twitter"></i>
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-instagram"></i>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-2 mt-6 mt-lg-0 footer-menu">
                <h5 class="mb-3">Company</h5>
                <ul class="navbar-nav list-unstyled mb-0">
                    <li class="mb-2">
                        <a class="nav-link" href="aboutus.html">About</a>
                    </li>
                    <li class="mb-2">
                        <a class="nav-link" href="careers.html">Careers</a>
                    </li>
                    <li class="mb-2">
                        <a class="nav-link" href="contactus.html">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-2 mt-6 mt-lg-0 footer-menu">
                <h5 class="mb-3">Services</h5>
                <ul class="navbar-nav list-unstyled mb-0">
                    <li class="mb-2">
                        <a class="nav-link" href="prices.html">Pricing</a>
                    </li>
                    <li class="mb-2">
                        <a class="nav-link" href="sale-support.html">Sales Support</a>
                    </li>
                    <li class="mb-2">
                        <a class="nav-link" href="business-customer.html">Business Customers</a>
                    </li>
                    <li class="mb-2">
                        <a class="nav-link" href="site-work.html">Site Works</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-2 mt-6 mt-lg-0 footer-menu">
                <h5 class="mb-3">Partners</h5>
                <ul class="navbar-nav list-unstyled mb-0">
                    <li class="mb-2">
                        <a class="nav-link" href="suppliers.html">Suppliers</a>
                    </li>
                    <li class="mb-2">
                        <a class="nav-link" href="sub-brokers.html">Sub Broker</a>
                    </li>
                    <li class="mb-2">
                        <a class="nav-link" href="join-us.html">Join Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-2 mt-6 mt-lg-0 footer-menu">
                <h5 class="mb-3">Help Center</h5>
                <ul class="navbar-nav list-unstyled mb-0">
                    <li class="mb-2">
                        <a class="nav-link" href="commission.html">FAQ (commission)</a>
                    </li>
                    <li class="mb-2">
                        <a class="nav-link" href="energy-contracts.html">FAQ (energy contracts)</a>
                    </li>
                    <li class="mb-2">
                        <a class="nav-link" href="complaint.html">Complaint</a>
                    </li>
                    <li class="mb-2">
                        <a class="nav-link" href="blog.html">Blogs</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="pt-5 mt-7 bottom">
            <span>Copyright 2023 GSC Agency</span>
            <ul>
                <li><a class="nav-link" href="terms.html">Terms of Service</a></li>
                <li><a class="nav-link" href="policy.html">Privacy Policy</a></li>
                <li><a class="nav-link" href="cookies.html">Cookies</a></li>
            </ul>
            <span>
                <i class="bi bi-globe"></i>
                <a>English</a>
            </span>
        </div>
    </div>
</footer>